apiVersion: apps/v1
kind: Deployment
metadata:
  name: cpp-prog
spec:
  replicas: 6
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels: 
      app: cpp-prog
  template:
    metadata:
      labels:
        app: cpp-prog
    spec:
      containers:
      - name: cpp-prog-docker
        image: ghcr.io/emilk92/cpp-prog-docker:1.1.0 # {"$imagepolicy": "flux-system:cpp-prog-imagepolicy"}
        ports:
          - containerPort: 3000
